@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.text-secondary-light-5 {
  color: #9dc3ea;
}

.text-hover-primary-light-3:hover {
  color: #5d8fd0;
}

.text-white {
  color: #eeefef;
}

.text-yellow {
  color: rgb(225, 196, 4);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  height: 100vh;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #eeefef;
}

h1 {
  color: #185fbc;
}

.hero {
  width: 100%;
  height: 100%;
}

.container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}

.row {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav {
  z-index: 1000;
  width: 80%;
  justify-content: space-between;
  min-height: 50px;
  margin: 0 auto;
  background-color: rgba(9, 12, 21, 0.769);
  position: fixed;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
nav #logo {
  width: 150px;
}
nav ul {
  gap: 50px;
}
nav li {
  font-size: 1.25rem;
}
nav #profile {
  width: 40px;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: #185fbc;
  background-image: url(/Assets/Background-Main-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main h1 {
  font-size: 5rem;
  line-height: 95px;
}
.main .container {
  justify-content: space-between;
  align-items: center;
}
.main .container .left {
  width: 50%;
}
.main .container .left p {
  font-size: 1.5rem;
}
.main .container .left button {
  margin-top: 40px;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Chivo Mono";
  letter-spacing: 2px;
  border: 2px solid #eeefef;
}
.main .container .right {
  width: 50%;
}
.main .container .right img {
  width: 100%;
}

.features {
  width: 100vw;
  min-height: 70vh;
  background-image: url(/Assets/Background-features-2.png);
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
  background-size: cover;
}
.features h1 {
  font-size: 3rem;
}
.features .components {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.features .components .card {
  width: 23%;
  transition: 0.5s;
}
.features .components .card:hover {
  filter: drop-shadow(2px 2px 10px rgba(10, 10, 0, 0.7));
  transition: 0.5s;
}
.features .components span {
  width: 23%;
  text-align: justify;
}
.features .components .desc {
  width: 23%;
  opacity: 0;
}

.resources {
  width: 100%;
  margin: 0 auto;
  min-height: 150vh;
  background-image: url(/Assets/Resources-Bg.png);
  background-size: cover;
}
.resources h1 {
  font-size: 3rem;
  padding-top: 9.5rem;
}

.card-container {
  margin-top: 10rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.resource-card {
  width: 25%;
  height: 50vh;
  background-color: #34a075;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.4);
  transition: 1s;
}
.resource-card .top {
  width: 100%;
  height: 50%;
}
.resource-card .top img {
  width: 100%;
  height: 100%;
}
.resource-card .bottom {
  width: 100%;
  height: 50%;
}
.resource-card .bottom h2 {
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.resource-card .bottom button {
  color: white;
  font-weight: 600;
  letter-spacing: 3px;
}

.resource-card:hover {
  transform: scale(115%, 115%);
  transition: 1s;
}

.head-left-pro {
  filter: blur(10px);
  transform: translateX(-100%);
  opacity: 0.5;
  transition: 2s;
}

.head-left-pro:nth-child(2) {
  transition-delay: 200ms;
}

.head-left-pro:nth-child(3) {
  transition-delay: 300ms;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pt-3 {
  padding-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.br {
  border-radius: 20px;
}

.br-lg {
  border-radius: 30px;
}

.display-f {
  display: flex;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #3b87d4;
}
.btn-secondary:hover {
  background-color: #5094d9;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #185fbc;
}
.btn-primary:hover {
  background-color: #1b6ad3;
}