@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.text-secondary-light-5 {
  color: #9dc3ea;
}

.text-hover-primary-light-3:hover {
  color: #5d8fd0;
}

.text-white {
  color: #eeefef;
}

.text-yellow {
  color: rgb(225, 196, 4);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  height: 100vh;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #eeefef;
}

h1 {
  color: #185fbc;
}

.hero {
  width: 100%;
  height: 100%;
}

.container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}

.row {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav {
  z-index: 1100;
  width: 80%;
  justify-content: space-between;
  min-height: 50px;
  margin: 0 auto;
  background-color: rgba(9, 12, 21, 0.769);
  position: fixed;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
nav #logo {
  width: 150px;
}
nav ul {
  gap: 50px;
}
nav li {
  font-size: 1.25rem;
}
nav #profile {
  width: 40px;
}
nav span {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav span span {
  margin-right: 1rem;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: #185fbc;
  background-image: url(/Assets/Background-Main-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main h1 {
  font-size: 5rem;
  line-height: 95px;
}
.main .container {
  justify-content: space-between;
  align-items: center;
}
.main .container .left {
  width: 50%;
}
.main .container .left p {
  font-size: 1.5rem;
}
.main .container .left button {
  margin-top: 40px;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Chivo Mono";
  letter-spacing: 2px;
  border: 2px solid #eeefef;
}
.main .container .right {
  width: 50%;
}
.main .container .right img {
  width: 100%;
}

.features {
  width: 100vw;
  min-height: 70vh;
  background-image: url(/Assets/Background-features-2.png);
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
  background-size: cover;
}
.features h1 {
  font-size: 3rem;
}
.features .components {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.features .components .card {
  width: 23%;
  transition: 0.5s;
}
.features .components .card:hover {
  filter: drop-shadow(2px 2px 10px rgba(10, 10, 0, 0.7));
  transition: 0.5s;
}
.features .components span {
  width: 23%;
  text-align: justify;
}
.features .components .desc {
  width: 23%;
  opacity: 0;
}

.resources {
  width: 100%;
  margin: 0 auto;
  min-height: 150vh;
  background-image: url(/Assets/Resources-Bg.png);
  background-size: cover;
}
.resources h1 {
  font-size: 3rem;
  padding-top: 9.5rem;
}

.card-container {
  margin-top: 10rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.resource-card {
  width: 25%;
  height: 50vh;
  background-color: #34a075;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.4);
  transition: 1s;
}
.resource-card .top {
  width: 100%;
  height: 50%;
}
.resource-card .top img {
  width: 100%;
  height: 100%;
}
.resource-card .bottom {
  width: 100%;
  height: 50%;
}
.resource-card .bottom h2 {
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.resource-card .bottom button {
  color: white;
  font-weight: 600;
  letter-spacing: 3px;
}

.resource-card:hover {
  transform: scale(115%, 115%);
  transition: 1s;
}

.head-left-pro {
  filter: blur(10px);
  transform: translateX(-100%);
  opacity: 0.5;
  transition: 2s;
}

.head-left-pro:nth-child(2) {
  transition-delay: 200ms;
}

.head-left-pro:nth-child(3) {
  transition-delay: 300ms;
}

.banner {
  position: relative;
  top: 10rem;
  width: 75%;
  margin: 0 auto;
  height: 250px;
  background-color: #185fbc;
  background-image: url(/Assets/dotted-bg2.png);
  background-size: contain;
}
.banner img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}
.banner h1 {
  position: relative;
  top: 45px;
  text-align: center;
  font-size: 5rem;
}
.banner #rocket {
  z-index: 1000;
  position: absolute;
  left: -140px;
  top: 20px;
  width: 300px;
}
.banner .filters {
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 80%;
  height: 100px;
  background-color: #3b87d4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 100px;
}
.banner .filters select {
  width: 200px;
  height: 50%;
  text-align: center;
  font-size: 1.25rem;
  font-family: "Poppins";
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid white;
  background-color: #34a075;
  color: white;
}

.filler {
  width: 100%;
  height: 250px;
}

.content-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .info-card {
    width: 100%;
  }
}
.info-card {
  position: relative;
  width: 26.33%;
  height: 67vh;
  border-radius: 30px;
  background-color: white;
  border: 2px solid #185fbc;
  box-shadow: 8px 8px 0px #185fbc;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}
.info-card .upper {
  width: 100%;
  height: 18%;
  background-color: #34a075;
  background-image: url(/Assets/Scholar-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.info-card .lower h3 {
  font-weight: 500;
  color: #185fbc;
}
.info-card .lower hr {
  color: grey;
  background-color: grey;
}
.info-card .lower ul li {
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
}
.info-card .lower button {
  width: 90%;
  font-size: 1.25rem;
  margin-left: 1rem;
  font-weight: 500;
  font-family: "Chivo Mono";
  position: absolute;
  bottom: 10px;
}

.login {
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, #185fbc, #3b87d4);
  display: flex;
  align-items: center;
}

.middle {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.middle section img {
  width: 80%;
}
.middle section h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.middle section input {
  width: 75%;
  height: 50px;
  border: 0px;
  border-radius: 50px;
  margin-bottom: 1rem;
  padding-left: 2rem;
  font-size: 1.25rem;
}
.middle section input:focus {
  border: 2px solid #185fbc;
}
.middle section #button {
  text-align: center;
  width: 75%;
  height: 50px;
  border-radius: 50px;
  font-size: 1.25rem;
  font-weight: 700;
  color: #185fbc;
  letter-spacing: 1px;
}
.middle section form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.middle aside {
  width: 50%;
}
.middle aside img {
  width: 100%;
}

.row-2 {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.left-comm {
  border-radius: 30px;
  width: 23%;
  height: 40%;
  background-color: #3b87d4;
  box-shadow: 7px 7px 0px #185fbc;
}
.left-comm .top-banner {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 100%;
  height: 20%;
  background-color: #250842;
  background-image: url(/Assets/dotted-bg.png);
  background-size: cover;
  position: relative;
  margin-bottom: 3rem;
}
.left-comm .top-banner img {
  position: absolute;
  width: 60px;
  bottom: -30px;
  left: 35%;
}
.left-comm h3 {
  text-align: center;
  color: #eeefef;
}
.left-comm p {
  text-align: center;
  font-size: 0.8rem;
  color: #eeefef;
}
.left-comm button {
  border-radius: 0px;
  width: 100%;
  color: white;
  font-family: "Chivo Mono";
}

.center-comm {
  width: 60%;
  height: 120%;
  overflow-y: scroll;
  border-radius: 30px;
}
.center-comm .post-method {
  width: 100%;
  height: 120px;
  background-color: #34a075;
  background-image: url(/Assets/Background-Main-2.png);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.center-comm .post-method img {
  width: 50px;
}
.center-comm .post-method #post-desc {
  width: 55%;
  height: 50px;
  border-radius: 30px;
  border: 0px;
  padding: 1rem;
  font-size: 1.25rem;
  resize: none;
}
.center-comm .post-method span {
  display: none;
  font-size: 1.5rem;
}
.center-comm .post-method #upload-img {
  width: 40px;
  filter: invert(1);
}
.center-comm .post-method button {
  padding: 1.5rem;
  color: #eeefef;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.right-comm {
  box-shadow: 7px 7px 0px #3b87d4;
  width: 27%;
  height: 50%;
  background-color: #185fbc;
  border-radius: 30px;
}
.right-comm h3 {
  text-align: center;
  color: #eeefef;
  letter-spacing: 1px;
}
.right-comm button {
  border-radius: 0px;
  width: 100%;
  height: 60px;
  color: white;
  font-family: "Chivo Mono";
  text-align: left;
}

.post {
  border-radius: 30px;
  width: 100%;
  height: 80vh;
  background-color: #185fbc;
  margin-bottom: 2rem;
}
.post .info {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #eeefef;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 2px;
  background-color: #3b87d4;
}
.post .info img {
  height: 100%;
}
.post .description {
  width: 100%;
  height: 34%;
}
.post .description p {
  color: #eeefef;
}
.post .image {
  width: 100%;
  height: 50%;
  background-color: #250842;
}
.post .image img {
  width: 100%;
  height: 100%;
}
.post .hashtags {
  color: rgb(20, 188, 234);
}
.post .controls {
  width: 100%;
  height: 6%;
  background-color: #34a075;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.post .controls img {
  height: 60%;
  cursor: pointer;
  filter: invert(1);
}

.center-comm::-webkit-scrollbar {
  display: none;
}

.center-comm {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pt-3 {
  padding-top: 3rem;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.br {
  border-radius: 20px;
}

.br-lg {
  border-radius: 30px;
}

.display-f {
  display: flex;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #3b87d4;
}
.btn-secondary:hover {
  background-color: #5094d9;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #185fbc;
}
.btn-primary:hover {
  background-color: #1b6ad3;
}
