* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
  height: 100vh;
  background-image: linear-gradient(to top, #1d1d1d, $purple);
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $secondary;
}

h1 {
  color: $primary;
}
